@import "./css/common";


//=====
.root {
    background-color: #364160;
    width: 100%;
    height: 100%;
    color: white;
    .flexCol;
    align-items: center;
}

.menuItem {
    color: white;
}

.summary {
    width: 90%;
    margin-top: 1rem;
}

.summaryItem {
    background-color: #455774;
    border-radius: 1rem;
    .flexCenter;
    font-size: 2rem;
    font-weight: bold;
    .flexCol;
    justify-content: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-bottom: 0.5rem;
}

.summaryItemTitle {
    font-size: 1.1rem;
    color: #DFDFEE;
    letter-spacing: 0.08rem;
}

.summaryItemValue {

}

.dataTable {
    width: 90%;
    margin-top: 1rem;
}